
body {
	font-family: 'Helvetica','Arial','Sans-Serif';
	background-color: #ebebeb;
}

/*Navigation Bar Formatting*/
div#header {
	background-color: black;
	height: 100px;
	width: 100%;
}

div.container { 
	width: 960px;
	height: auto;
	margin: 0 auto;	
}	

div#logo {
	width: 300px;
	height: 100px;
	/* Some logo here */
	float: left;
}	
	
nav#topmenu {
	width: 660px;
	height: 100px;
	float: right;
}

#topmenu ul {
	list-style: none;
}

#topmenu li {
	float: left;
	margin-left: 30px;
	background-color: #252525;
	padding: 8px;
	border: 1px solid silver;
	border-radius: 5px;
}

#topmenu a {
	color: white;
	text-decoration: none;
}

#topmenu li:hover {
	background-color: grey;
}








/*

body {
	margin: 60px auto;
	width: 70%;
}

nav ul, footer ul {
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	padding: 0px;
	list-style: none;
	font-weight: bold;
}

nav ul li, footer ul li {
	display: inline;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: #999;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3em;
	font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
	font-size: 1.5em;
	line-height: 1.4em;
	color: #333;
}

footer {
	border-top: 1px solid #d5d5d5;
	font-size: 0.8em;
}

ul.posts {
	margin: 20px auto 40px;
	font-size: 1.5em;
}

ul.posts li {
	list-style: none;
}

/*
NEW Additions




/* aside 

aside.next {
    float: right;
    width: 248px;
    background-color: #da1;
    margin: 3pt 6pt 3pt 6pt;
    padding: 6pt 0;
}

aside h1 { font-size: 110%; }
aside h2 { font-size: 95%; }
aside p {
    margin: 0 12pt;
    font-family: tahoma, sans-serif;
    font-style: italic;
    font-size: 85%;
}

aside section h1 {
    padding-top: 3pt;
    border-top: 4px solid #fd0;
}

aside header p {
    font-size: 85%;
}

aside section {
    padding: 5px 0;
}

/* article 

article {
    width: 625px;
    margin-right: 10px;
    float: left;
}

article h1 {
    font-size: 110%;
    margin-top: 12pt;
    margin-bottom: 0;
    padding-top: 3pt;
    border-top: 4px solid #a60;
}

article p {
    font-family: tahoma, sans-serif;
}

article mark {
    background-color: #fd0;
}


/* maindiv 

#maindiv {
    width: 900px;
    margin: 0 auto;
    background-color: #eec;
}



.clear {
    margin: 0;
    padding: 0;
    clear: both;
}
*/